{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="form-container">
  <form class="login-form">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="email" class="input-label"
        ><span class="input-label-text">{{form.email.label}}</span></label
      >
      {{form.email(type='email', class_='form-input')}}
    </div>

    <div class="form-group">
      <label for="password" class="input-label"
        ><span class="input-label-text">{{form.password.label}}</span></label
      >
      {{form.password(class_='form-input')}}
    </div>

    <button class="form-button" type="submit">Login</button>
  </form>
</div>

{% endblock %}
